@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'Oxanium', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  overflow-x: clip;
  font-family: 'Oxanium', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(to top, #9333ea -125%, #000000 95%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

@media (max-width: 767px) {
  body {
    margin-bottom: 64px !important;
  }
}
