@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'Oxanium', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: clip;
  font-family: 'Oxanium', sans-serif;
  scroll-behavior: smooth;
}
